.row{
  float: left;
  width: 100%;
}
.halfgroup{
  width: 50%;
  float: left;
}
.halfgroup .inner{
  width: 100%;
  float: left;
}
.fieldrow h4{
  margin-bottom: 0px;
}

.fieldrow .description{
  font-size: 12px;
  color: #ccc;
  margin-bottom: 10px;
  border-left: 2px solid #fcfcfc;
  padding-left: 5px;
}

div.updated{
  margin-left: 0!important;
}

.icecat_form_group {
  border-bottom: 1px solid #eee;
  padding: 5px;
  clear: both;
  width: 100%;
  float: left;
  display: block;
}
.icecat_form_group label,
.icecat_form_group input {
  float: left;
  display: block;
}

.icecat_form_group label {
  width: 30%;
}

#icecat_subform {
  float: left;
  width: 100%;
}